[Desktop Entry]
Name=Swamp Swap
Comment=A GUI wrapper for the croc CLI file transfer program
Exec=SwampSwap
Icon=io.github.Ferase.SwampSwap
Type=Application
Categories=Network;FileTransfer;
Keywords=croc;transfer;send;receive;
StartupWMClass=SwampSwap