[Desktop Entry]
Name=SwampSwap
Comment=Secure file transfer
Exec=SwampSwap
Icon=io.github.Ferase.SwampSwap
Type=Application
Categories=Network;FileTransfer;
Keywords=croc;transfer;send;receive;
StartupWMClass=SwampSwap